[2020-02-12 14:09] hachreak opened #1 "cli interface not found"
Hi at all,
I was trying to use label studio to create a COCO-like dataset but from the web interface I can't see COCO option inside the select box inside the export page (only json, json_mini, csv, tsv are available).
Neither I can find the `cli.py` to run.
It looks like only `label_studio_converter` files are installed.
Thanks :smile:

[2020-04-10 09:46] amtam0 opened #2 "'Annotation' directory created twice"
Thank you for this great project !

I report this small issue I met when extracting labeled files in VOC format.
The folder Annotations is created twice.

When  I run the command :
[code]
This is the structure I get inside **_export1/_**:

    /Annotations
        /Annotations
           |
            --- file1.xml
           |
            --- file2.xml
    /images
           |
            --- fil

[2020-04-10 11:04] amtam0 commented on #2
This command does the job :
[code]
I don't specify export folder for Annotations

[2020-04-10 11:04] #2 closed

[2020-05-04 12:36] Ziinc opened #3 "Underscore in CoNLL 2003 converter"
Hi label studio team,

Was wondering what this underscore in the converter is supposed to represent.

https://github.com/heartexlabs/label-studio-converter/blob/83ff059a1257cf600559c09a3459483d54073f81/label_studio_converter/converter.py#L243

I am asking because this has led to issues when integrating label studio into other NLP toolchains.

From my understanding, this is not usual when building

[2020-07-08 09:03] thenamangoyal opened #6 "Pull request: In the readme please fix the convert_to_csv"
Hi

The convert_to_csv example in main readme should be
`c.convert_to_csv('examples/sentiment_analysis/completions/', 'tmp', sep='\t', header=True)`

basically output destination is directory e.g. 'tmp' not a file

instead of current
`c.convert_to_csv('examples/sentiment_analysis/completions/', 'tmp/output.tsv', sep='\t', header=True)`

[2020-07-17 21:33] RasmusEdvardsen opened #8 "Allow multiple completions export for CONLL2003"
Hey, I made a PR for allowing multiple completions in an export when exporting CONLL2003 format.
It takes the latest added unskipped completion, or None if none exist.
Of course I don't know if this is the desired behavior, so let me know what you think.

#7

[2020-07-23 06:24] RasmusEdvardsen commented on #8
@makseq do you also maintain this repo?

[2020-07-23 07:20] makseq commented on #8
@RasmusEdvardsen yes. I will investigate you PR and merge to release 0.7.4 if it is ok.

[2020-07-23 07:26] RasmusEdvardsen commented on #8
Sounds lovely @makseq , and yea well, it's an extremely useful tool for us, so the thanks should be to you guys 😊

[2020-08-24 17:31] abduhbm opened #10 "Documents delimiter for CoNLL 2003 NER"
Exported annotated data in CoNLL 2003 NER format cannot be imported in SpaCy.
SpaCy expects documents to be separated using `-DOCSTART- -X- O O` line and sentences with whitespaces as per its documentation for converting CoNLL-2003 NER format to json.
https://spacy.io/api/cli#convert

Should this be handled in the converter? If yes, I can push a PR to fix it.

[2020-08-25 14:13] normalnyi commented on #10
Yes, it should be implemented here, but I suggest naming it as a different format rather than https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/converter.py#L34

[2020-08-28 11:21] fsalmasri opened #11 "Currently only one completion could be added per task !"
Is it possible to have multiple instance conversion?

[2020-08-28 16:43] makseq commented on #11
I've just tried to make multiple completions per one task and it works well.
![image](https://user-images.githubusercontent.com/501780/91592088-a86eef80-e966-11ea-8e2d-f97646dd89c3.png)

Can you provide more details?

[2020-08-28 16:43] makseq commented on #11
@fsalmasri What type of conversion do you use? JSON_MIN?

[2020-08-29 12:09] fsalmasri commented on #11
I tried both PASCAL VOC and COCO

[2020-09-04 15:26] loomcode opened #12 "Label Studio Polygons Unsupported"
I'd like to convert a list of JSONs I generated with the polygon tool in label studio to COCO format but it doesn't look like the code handles this use case.

[2020-09-04 17:59] loomcode commented on #12
Taking an example from Detectron2, I made a polygon friendly version of your "convert_to_coco" function by making some minor changes to the bounding box loop:

[code]
Note, that I change the bbox boundaries to absolute coords.  It runs but I still need to check if the output works with a model.

[2020-09-04 23:54] makseq commented on #12
https://github.com/heartexlabs/label-studio/issues/410

[2020-11-02 08:13] david-waterworth opened #15 "Incorrect tokenization in CoNLL 2003 export"
I'm evaluating a number of different annotation interfaces and am currently looking at label-studio.

I noticed when I exported as json and colnll2003 I got quite different results for the same string. The reason seems to be the tokenization. I'm trying to identify named entities from IoT device identification strings - the string usually have delimiters like - or . in place of space (or none at a

[2020-11-02 08:15] makseq commented on #15
@david-waterworth can you provide correct and incorrect examples for one entity?

[2020-11-02 09:02] david-waterworth commented on #15
@makseq

This is the "correct" output as json

[code]

This is the same example in CoNLL 2003

`AHU-G1-V-1-1-Ctrl-Md -X- _ B-Equip`

I'm not sure if CoNLL 2003 only applies to text which can be split into "words" by whitespace? I'm not sure how useful that is if you're using some sort of workpiece tokenizer, or like in my case custom tokenization.

i.e. tokenization might get tokenised into "token

[2020-11-02 18:44] niklub commented on #15
Hi, @david-waterworth !

Indeed, currently, only primitive tokenization is used (by splitting into tokens using whitespaces).
However, I think it could be extended for the custom tokenization scheme, take a look at this https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/utils.py#L20

Do you think that something like replacing `text.split()` -> `text.split('-')

[2020-11-02 18:48] niklub commented on #12
@loomcode ,
This functionality has been added since `label-studio>=0.7.5`. Can you try it out and close an issue if everything is OK ?

[2020-11-02 18:53] niklub commented on #1
Hi @hachreak !
Do you still need to resolve that problem?
COCO format is supported for exporting from `<RectangleLabels>` and `<PolygonLabels>` annotations

[2020-11-02 18:58] niklub commented on #6
Thanks, that's fixed!

[2020-11-02 18:58] #6 closed

[2020-11-02 18:59] #8 closed

[2020-11-02 19:02] niklub commented on #11
@fsalmasri If you're trying to export multiple completions per task, that's possible only with `JSON` format

[2020-11-02 19:02] #11 closed

[2020-11-02 21:15] david-waterworth commented on #15
Hi @niklub

I think it would be close but not correct, the problem is the '-' character is both a delimiter and an infix character in the tagged entities. text.split('-') removes it. I think you may account for that, as you don't tag with 'O' if the next tokens is an 'I'? But my pre-tokeniser splits between characters based on whether the preceding and next are from the same class (char, numeric a

[2020-11-16 10:06] #15 closed

[2020-11-20 12:23] faizan170 opened #17 "How can i convert binary mask to RLE format for brushing tool input."
I have tried to work with some rle converters to convert binary mask to RLE format, but on input, it throws error.
`RangeError: Array buffer allocation failed`
Here is some output from RLE array.
`199501, 1, 996, 7, 992, 9, 991, 9, 991, 10, 990`

Can we use this converter for encoding?

[https://github.com/thi-ng/umbrella/blob/develop/packages/rle-pack/src/index.ts](https://github.com/thi-ng/umbre

[2020-11-20 13:30] hlomzik commented on #17
Hmm, we are using exact this library. How is your result's value looks like? Like this?
[code]

[2020-11-20 13:58] faizan170 commented on #17
Yes, I get values like this when convert binary image to rle.
But as i seen on labelstudio output, value does not exceeds 255. They are like this.
`{
  format: "rle",
  rle: [199501, 1, 996, 7, 992, 9, 991, 9, 991, 10, 990],
}`
So, is there any option that i can use python to convert masks, so that i can use as input to labeling tool?

[2020-12-10 06:44] NandaBalakrishnan opened #18 "How can i convert from pascal voc to completion json"
is there any converter available

[2020-12-10 09:30] niklub commented on #18
Hi, @NandaBalakrishnan !

Currently no, but that could be a good first issue, thanks!

[2020-12-14 03:54] NandaBalakrishnan commented on #18
ok, if you have any idea how this feature can be implemented, please suggest
Thank you.

[2021-01-15 13:23] bram2506 opened #19 "How can I relate the filenames in VOC export to originals"
Hi,

I am trying to make an export of my data in VOC format but then the filenames get a sort of hashed?

Original file name: 922d9ea2-a2a7-4a13-8d57-138404fcca2a.png
Filename in VOC folder images: 22754d115fcc574462a81b9c0d253f0e

Where in the xml is also no information about the original task or original file name.

My first question is there a way to do this? hashing key or something like that?

[2021-03-06 11:44] yesimipek opened #23 "How I can export all data which includes both completed and not completed?"

[2021-03-08 14:40] makseq commented on #23
@yesimipek We will release a new LS 1.0 very soon, there will this option on export.

Right now you can call `https://localhost:8080/api/tasks?page_size=1000000000` to get all tasks with completions and without.

[2021-03-09 07:02] stevebit opened #24 "Can't Export VOC Image Segmentation"
Hi,
I'm getting the following error "FileNotFoundError: [Error 2] No such file or directory" when I try to export the labelled images using the VOC format.

[2021-03-09 21:35] bram2506 commented on #17
@faizan170 Made a pull request which can cope with colored images. So you can convert your binary image to a colored image using cv2 and use the rle encoding!

[2021-03-10 10:51] makseq commented on #17
https://github.com/heartexlabs/label-studio-converter/pull/25

[2021-03-10 11:07] makseq commented on #24
@stevebit Thank you for your report, there is duplicated issue: https://github.com/heartexlabs/label-studio/issues/627#issuecomment-793517595 , but we haven't yet fixed it.

[2021-03-12 12:00] #24 closed

[2021-03-15 21:17] alanbuxton opened #27 "CONLL2003 conversion where the span is wider than the entity"
Label Studio allows a span to be either within a token, or to include whitespace around a token.

For example if the text is "The film (1988) stars Frankie James as the protagonist" then one span could be just "1988" and another could be " Frankie James".

The current exporting functionality does not support these situations well in my use case.

I'm not clear what the official behaviour should be

[2021-03-17 22:19] uriel-tannen opened #28 "JSON to CSV converter ignores multiple annotations of each task (LS 1.0)"
This relates to a point discussed with @niklub in the LS Slack workspace.

If I have a JSON file with multiple annotations of a single task, running the CSV conversion command (e.g. `python backend/converter/cli.py --input examples/sentiment_analysis/completions/ --config examples/sentiment_analysis/config.xml --output output_dir --format CSV --csv-separator $'\t'`) outputs a CSV file with just on

[2021-03-23 23:30] rm-data-viz opened #30 "COCO export error"
Hi,

I'm getting the following error on exporting COCO format in label studio and I believe that label-studio-converters is the reason for this error.

`FileNotFoundError("Can't find upload dir: either LS_UPLOAD_DIR or project should be passed to converter")`
`FileNotFoundError: Can't find upload dir: either LS_UPLOAD_DIR or project should be passed to converter`

Actually, I fixed it by adding

`

[2021-03-24 11:20] makseq commented on #30
Could you show LS and LS-converter version you are using?

[2021-03-24 19:45] mehrarahul commented on #30
Im using the below docker version of LS.

`docker run -it -p 8080:8080 -v `pwd`/mydata:/label-studio/data heartexlabs/label-studio:latest`

[2021-03-30 18:20] dallidalli commented on #30
I'm having the same issue. Pascal VOC export is working fine, COCO gives me above error.

According to `pip freeze`, these are the used versions:

`label-studio==1.0.0.post3
label-studio-converter==0.0.26`

I installed it under Windows, Python 3.8 using `pip install -U label-studio`.

[2021-03-30 21:22] makseq commented on #30
@dallidalli Could you try release/1.0.1 branch?
https://github.com/heartexlabs/label-studio/pull/681

[2021-03-31 15:50] dallidalli commented on #30
@makseq I tried to do so, but maybe it wasn't the right way. I tried the following:
- uninstall the current label-studio installation via `pip uninstall label-studio`
- install the mentioned branch using `pip install git+https://github.com/heartexlabs/label-studio.git@release/1.0.1`

The issue still persists, plus label-studio doesn't look so neat anymore, so I guess I did something wrong when try

[2021-03-31 19:37] makseq commented on #30
@dallidalli Could you please clone and install label-studio-converter from the master branch and check - is it working for you now?
https://github.com/heartexlabs/label-studio-converter

[2021-03-31 19:49] makseq commented on #30
It's not a problem :slightly_smiling_face:

Thank you very much for your help! I hope we can close this issue. Feel free to reopen if you have these problems again.

[2021-03-31 19:49] #30 closed

[2021-03-31 21:09] makseq commented on #28
@uriel-tannen I hope it's fixed in release/1.0.1 branch. Don't forget to update `label-studio-converter` up to 0.27.0.

[2021-04-02 19:32] men1n2 opened #33 "YOLO Labeling Format"
Hello,

 It will be nice to have the option to export the annotations directly to the YOLO txt format when doing Object Detection with Bounding Boxes projects without having to export to another format than using external script to do the conversion.

I would like to hear from you if this feature can/will be implemented ? And thanks

[2021-04-02 20:33] makseq commented on #33
@men1n2
Yes! We have an implementation of it already (great thanks to @johnson7788).
But we haven't released it yet.

You can check it out from master branch:

[code]

Go to project Export, try YOLO.

[2021-04-03 11:48] men1n2 commented on #33
@makseq Thanks for your quick reply. It is nice to see that the feature is already implemented :)

[2021-04-03 11:48] #33 closed

[2021-04-06 15:52] uriel-tannen commented on #28
@makseq I mentioned this to @niklub on Slack, but I'm using 0.28.0 and still have the following issue:
I tried running the converter on a bunch of JSON files in my S3 bucket, and got the following error: `"Each task dict item should contain "annotations" or "completions" [deprecated], where value is list of dicts"`. Looking through the JSON files in S3, the labels fall under `result` - there is no

[2021-04-08 15:18] makseq commented on #17
Code for brush import from predictions is here:
https://github.com/heartexlabs/label-studio-converter/pull/25/files#diff-b82fa6eac244e4e2cbee0b3ba3e9582bd74edab647fb9570b1c9ef0f23b7ea4cR172

[2021-04-08 15:18] #17 closed

[2021-05-03 12:35] VinayChaudhari1996 opened #34 "How to get .TXT files for YOLO5 ?"
Hello guys ,

How to export annotations .TXT files for YOLOv5 like roboflow ?

Thanks.

[2021-05-18 15:16] #28 closed

[2021-05-21 11:38] dehesselle opened #35 "license mismatch readme vs setup.py"
Hello,
the readme says Apache-2.0 but setup.py says MIT - which one is it?

[2021-05-22 19:32] makseq commented on #35
@dehesselle The correct one is Apache 2.0.
Thank you for your report.

Fixed in https://github.com/heartexlabs/label-studio-converter/commit/9ef1c8ab946df42c65bb148c8c08f2695110c4da#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7

[2021-05-22 21:57] #35 closed

[2021-05-24 03:09] gherao opened #36 "Please update new README file？"
Thanks for the conversion tool!
When i use now source to convert my data export from label-studio,next error has occured.
[code]

Can you update the Readme file on how to use it.
The converter parameters like config. xml are what file？
the project_dir is the path to what.
How do I set these parameters if I am starting from docker?
Thanks

[2021-05-24 18:44] ssamine opened #37 "Span shift in the exported data"
the downloaded annotated files have a span shift, the start-end of a label doesn't match the correct word in the document

[2021-05-24 22:19] makseq commented on #37
Could you provide more details please?
1. What is your labeling config?
2. What is you task data with this problem?

[2021-05-24 22:32] ssamine commented on #37
1. <View display="inline">
  <View style="position:sticky; position: -webkit-sticky;
               top: 0; background-color: #a6e0f4; z-index: 2;
               border-radius: 5px;">
      <Labels name="Attributes" toName="text" showInline="true">
        <Label alias="negation" hotkey="N" value="negation" background="#d9534f"></Label>
        <Label alias="frequency" hotkey="F" value="frequency"

[2021-05-24 23:42] makseq commented on #37
Do you have special characters in your texts (smiles or some other extra symbols)?
Are you on windows (it has \n\r for new line and it could affect the correct position of exported words)?

[2021-05-24 23:49] ssamine commented on #37
No smiles but I do have bullet points, I am on a Mac

[2021-05-24 23:51] makseq commented on #37
Try to leave only one bullet, 2-3 words in text and check the offset in the exported file.

[2021-06-02 11:38] mattkanwisher commented on #36
think the config.xml are in their main repo, I was a bit confused at first also https://github.com/heartexlabs/label-studio/tree/61d883810eacabedfd0248eb3d851763924f07be/label_studio/examples

[2021-06-05 10:20] JulyMarc opened #38 "Error occurred when loading data ValueError: Expected object or value"
Dear LabelStudio team,
we are making labels on project ACPCFMST	(I could write link if needed in private message) and today all completions are lost and there is some errors on project:
1. on Task page there is error message: "Error occurred when loading data ValueError: Expected object or value"
2. on Settings page: "label config: expected object or value"
3. on Export page:  "JSONDecodeError: Ex

[2021-06-05 10:22] JulyMarc commented on #38
Or label config (if it helps) is simple:

<View>
  <Image name="image" value="$image" zoom="true" zoomControl="true"/>
  <KeyPointLabels name="label" toName="image"
                  strokewidth="2" opacity="1" >
      <Label value="AC" background="red"/>
      <Label value="PC" background="blue"/>
      <Label value="FM" background="orange"/>
      <Label value="ST" background="magenta"/>
  </Key

[2021-06-05 10:25] JulyMarc commented on #38
Our task data is 1854 images.

[2021-06-05 10:28] niklub commented on #38
Hi, @JulyMarc ! Thanks for reporting this issue. No worries, nothing is lost, just looks like format mismatching issue.. To investigate that, could you please tell us what's Label Studio version you use, and perhaps some of the tasks in JSON format you're trying to export.

[2021-06-05 10:43] JulyMarc commented on #38
@niklub wow) not expected so fast response and few seconds ago I pressed button "Delete TARGET STORAGE".
By the way answers are:
1. We use web version and worked online (there is no any "version" text line on pages).
2. We previously downloaded some tasks and format were (in csv):

![image](https://user-images.githubusercontent.com/28493784/120889039-06bab400-c604-11eb-9749-70cbfa227242.png)

[2021-06-05 11:14] niklub commented on #38
Sorry, didn't get it, what's the web version? you can check an actual Label Studio version by fetching `/version` page, or by running `label-studio version` from terminal

[2021-06-05 12:24] JulyMarc commented on #38
![CD946B43-40FC-4FB2-A4A5-E20F90F801F5](https://user-images.githubusercontent.com/28493784/120891584-0a553780-c612-11eb-80cc-1e9a0e34f6d3.jpeg)
![4F6D0C2D-0E28-4DE7-82EF-8966D13099A6](https://user-images.githubusercontent.com/28493784/120891585-0cb79180-c612-11eb-8de4-5e9b150db551.jpeg)

[2021-06-05 12:27] JulyMarc commented on #38
We work from browser by link like:
https://app.labelstud.io/api/project-switch?uuid=

[2021-06-08 10:08] gherao commented on #36
@mattkanwisher Thanks for your reply, it helped me a lot!!!

[2021-06-08 10:08] #36 closed

[2021-06-11 02:50] fanweiya opened #39 "add export roLabelImg format"
Because labelstudio already support label ROTATED rectangle regions whether it can support the exported roLabelImg format
[code]

[2021-06-11 15:27] makseq commented on #39
@fanweiya Is it subset of VOC format? Or it's different.

[2021-06-12 15:40] fanweiya commented on #39
Yes,This is a format for rotating target detection.https://github.com/cgvict/roLabelImg

[2021-07-23 00:40] makseq commented on #34
Hi, we officially added yolo support in release 1.1.

[2021-07-23 00:40] #34 closed

[2021-08-10 15:03] Theo-HENAFF opened #41 "Export impossible COCO/VOC/YOLO format"
I'm unable to export my annotations in COCO/VOC/YOLO format in a newly created project (for object detection, ~300 images, ~300 annotations, with only 2 classes in rectangle labels).

Here is my stacktrace for Yolo export ( IndexError also in VOC/COCO ):
[code]

My labelling template is based on previous working projects (where exports were fine) :
[code]
Working with label-studio 1.1, python 3.8

[2021-08-10 15:21] Theo-HENAFF commented on #41
After looking at each annotations in the project I found one rectangle-label without any class attached, after deleting it it worked fine again.
It may be a good idea to ignore (or get the possibility to ignore) these no-class annotations while exporting.

[2021-08-10 15:21] #41 closed

[2021-08-27 08:32] haviduck opened #45 "yolo preannotated dataset"
Hey, we are moving our operation to label studio from cvat. we have a bunch of pre-annotated images that exist in yolos 1 txt file per image thing. Do you know a way i can batch convert these to label studio's json format?

[2021-08-28 01:42] makseq commented on #45
Hi, check this PR please: https://github.com/heartexlabs/label-studio-converter/pull/46

[2021-08-28 01:44] makseq commented on #45
@smoreface I've added YOLO => LS Json format converter (see https://github.com/heartexlabs/label-studio-converter/pull/46).
I would like to add this into our docs, what do you think about it?

[2021-08-29 19:28] haviduck commented on #45
absolutely spot on. i -really- dig label studio and this removes the last block for integration for me. thank you thank you thank you. Now to nag about ml backend integration :)

[2021-08-29 19:28] #45 closed

[2021-08-29 22:44] makseq commented on #45
@haviduck This is yolo structure.
I've updated codes, please, pull the latest changes.
1. Now categories are taken from classes.txt (instead of notes.json).
2. Labeling config for the project will be generated automatically.

[code]

classes.txt example
[code]

[2021-08-29 23:03] haviduck commented on #45
perfect,  thank you! im seeing some discrepancies, but i will do more research, before making a claim. thanks for swift and good support.

[2021-08-29 23:08] makseq commented on #45
@haviduck Waiting for your feedback and details :)

[2021-08-30 17:26] haviduck commented on #45
issue was with my own shitty pseudolabeling :) works great, thanks a bunch!

[2021-08-30 22:57] haviduck commented on #45
im not gonna complain about open source stuff, but some quick feedback, adding local storage along with a labelstudio json file isnt super intuitive. i found myself mounting my images then connecting them via the storace connector. the image url had  a ?d paramater that my converted json didnt honor. its just a matter of search and replace, but it was a bit unclear until then. i couldnt sync the m

[2021-09-01 00:49] makseq commented on #45
@haviduck PRs are highly appreciated!

[2021-09-03 21:30] alexdevmotion opened #49 "Information lost at export for "visibleWhen" field"
After I updated to v1.2.0 I noticed that the export format has changed.
This [1] is my labeling interface config.
The `entity_id` field only appears when a text region is selected. This gives the labeler the opportunity to input an entity id or not.

Here is a sample of what the export format looked like previously:
[code]

Here is a sample of what it looks like now:
[code]

## Problem

As you may

[2021-09-14 22:00] makseq commented on #49
@alexdevmotion Thank you for your bug report! Is it JSON_MIN format?
Could you switch to full JSON?

[2021-09-15 05:24] alexdevmotion commented on #49
@makseq Tried the JSON again and indeed it does not seem to have this issue. Seems to be happening with JSON_MIN and CSV.

[2021-09-17 09:40] karndeepsingh opened #53 "How to convert Relation annotation output to Spacy Binary format for relational model training?"
Hi,
Please help to convert the Label studio output after annotation of documents for relation model. Spacy accepts "token_Start" and "token_end" with "Start" and "End" key values. But Label studio only outputs Start  and End key and No "token_start" and "Token_end " is keyed. Following is the snap of  output from Label studio.:
[
  {
    "id": 6,
    "annotations": [
      {
        "id": 3,

[2021-09-17 21:29] twsl opened #54 "Info field in coco format is missing properties"
Currently the coco export is missing a few properties, especially the `date_created` property which is use for versioning my data.

[2021-09-17 22:37] #54 closed

[2021-09-17 22:38] makseq commented on #54
@twsl Thank you very much for this fix.

[2021-10-01 15:38] andreavanzo opened #58 "JSONL export format"
Hey guys,
first of all, thanks a lot for the amazing job. It is simply the best annotation tool off the shelf.

I was wondering whether JSONL is a format that can be taken into consideration at some point?
I find it much handy when working with huge datasets: it allows to lazily load the JSON entries on by one so that storing the entire JSON object in memory is not needed.

[2021-10-07 23:56] tomasohara opened #59 "CSV output should use simple field values for labels (not convoluted JSON)"
Unfortunately, the CSV output exported  by Label Studio uses JSON for the label ,
See [dog-example-project-35-at-2021-10-07-18-48-22cb3c67.csv](https://github.com/heartexlabs/label-studio-converter/files/7307510/dog-example-project-35-at-2021-10-07-18-48-22cb3c67.csv). This makes it hard to review the data in spreadsheets,.

Instead, the label should be extracted as a simple string value, as with

[2021-10-27 09:27] kimyoungju49 opened #63 "Export to COCO error"
Version 0.0.31rc1 worked well , but the following error comes when I use "convert_to_coco" in the after versions.
<no 'labels'>

In commit 1ea3768e046198754cd412ef74af3ba6792a01e8 ,
"labels |= set(info['labels'])" was added in "_get_labels( )". I guess that's the point.

Should I use <labels> tag in labelstudio config to use convert_to_coco???

[2021-10-30 13:00] loveychen opened #64 "show unicode more user-friendly in exported csv files"
https://github.com/heartexlabs/label-studio-converter/blob/a4498f8b352196dd91035bdbc75de5848fa1c528/label_studio_converter/converter.py?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L384

When exporting project to a csv file, it shows multiple-choices in unicode format  (like `\uxxxx`), and it is no

[2021-11-01 23:02] makseq commented on #64
@loveychen Could you create a PR please?

[2021-11-03 15:42] loveychen commented on #64
@makseq sorry for replying later. I have created a PR https://github.com/heartexlabs/label-studio-converter/pull/65

[2021-11-03 16:05] #64 closed

[2021-11-04 20:26] KonstantinKorotaev commented on #63
Hi @kimyoungju49
Could you please check if fix from branch **fix/gh56-parse-config** solves your issue?

[2021-11-08 01:21] kimyoungju49 commented on #63
Hello. I tested with the branch fix/gh56-parse-config and there are error message below.
"Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration."

[2021-11-08 01:29] kimyoungju49 commented on #63
I tested and there are new error message like below.
"Unicode strings with encoding declaration are not supported. Please use bytes input or XML fragments without declaration."

[2021-11-09 16:02] KonstantinKorotaev commented on #63
1. Could you please provide full console output and code that use to load label_config?
2. Do you load label_config from string or from file?
3. Could you please provide your label config?

[2021-11-11 11:20] gezhaoDL opened #66 "mask -> rle problem"
I wrote these lines for mask -> rle，but the length of rle is very long，so the json file was big. What is the correct way to convert mask to rle?
[code]

[2021-11-11 22:31] makseq commented on #66
Please, check this guide: https://labelstud.io/guide/predictions.html#Import-brush-segmentation-pre-annotations-in-RLE-format

[2021-11-11 22:31] #66 closed

[2021-11-12 02:00] gezhaoDL commented on #66
it worked.Thanks

[2021-11-12 17:39] karamusluk opened #67 "Issue on the test image file"
Hi all,
Once I checked test file is corrupted.
https://github.com/heartexlabs/label-studio-converter/blob/19316e876c01e066b8584b72b0b072497f3afcfb/tests/test.png

I coudln't understand how the things work while using image2annotation.

Could you please clarify what type of image should be supplied to this function?

[2021-11-13 00:26] makseq commented on #67
@karamusluk Hi, thank you for your report. I've fixed this image, please check it again in the latest master commits.
Also I've updated descriptions - https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/brush.py#L366 - hope now they are a little bit clearer.

[2021-11-13 00:26] #67 closed

[2021-11-19 07:18] kimyoungju49 commented on #63
**1-1. console output**
Traceback (most recent call last):
  File "C:\Users\yj49.kim\AppData\Local\Programs\Python\Python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\yj49.kim\AppData\Local\Programs\Python\Python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "c:\Users\yj49.kim\.vscode\extensions\ms-python.python-2021.11.14

[2021-12-17 16:45] laynr opened #72 "Request BrushLabels be exportable in COCO format"
Request BrushLabels be exportable in COCO format.

Once any mask is created it is possible to create COCO format as shown in this code:
https://github.com/laynr/image-segmentation/blob/main/image%20segmentation.ipynb

[2021-12-17 16:51] makseq commented on #72
If you could [contribute it here](https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/converter.py#L509), it would be awesome ;-)

[2022-01-28 12:16] willyrv opened #81 "function brush.decode_from_annotation returns empty dict"
The function

**brush.decode_from_annotation**

 returns empty dict when called using the annotations results.
[test_annot_result_json.txt](https://github.com/heartexlabs/label-studio-converter/files/7958493/test_annot_result_json.txt)

how to reproduce:

[code]

The result is:
{}

But it should be:

RLE params: 605208 values 8 word_size [3, 4, 8, 16] rle_sizes
RLE params: 605208 values 8 word_siz

[2022-02-16 17:01] tulbureandreit opened #84 "YOLO format import does not import image"
Hello,

I recently tried to import YOLO format into label studio

I always get this error and the image does not display in the tasks tab. Just the annotations.

[code]

[2022-02-16 19:11] tulbureandreit commented on #84
Moreover, can you convertttttt directly from Azure blob storage into YOLO format?

[2022-02-17 00:20] makseq commented on #84
duplicate: https://github.com/heartexlabs/label-studio/issues/2036

[2022-02-17 00:20] #84 closed

[2022-02-17 14:29] SarrocaGSergi opened #85 "Request make VideoTimeLine Segmentation Expotable to rttm file"

[2022-02-17 23:52] makseq commented on #85
Could you contribute it to label-studio-converter?

[2022-03-10 21:04] #27 closed

[2022-03-15 00:26] aryanvdesh opened #89 "Option to suppress print statement while decoding RLE"
would it possible to add a flag to suppress the print statement while using the `decode_rle` function in `label_studio_converter.brush`?

[2022-03-15 00:29] makseq commented on #89
Could you please do PR?

[2022-03-15 00:33] #89 closed

[2022-03-31 08:27] vikas972 opened #93 "Export taking a lot of time."
I uploaded some 50 Images. After labelling I tried to export in YOLO format. But it takes a lot of time, which is giving very bad User Experience. Is there any way to reduce this export time?

[2022-04-01 06:37] KonstantinKorotaev commented on #93
Hi @vikas972
Could you please provide your labeling config and logs from Label Studio?

[2022-04-07 08:38] TeodorChiaburu opened #95 "Interpretation of RLE values"
Hello!

May I ask what the **RLE** values stored for brush segmentations stand for? I am familiar with this encoding method from _COCO_, but I was used to them being understood as **pixel counts**. For instance, an **RLE** vector such as `[234, 54, 103, 3,...]` would mean that the first 234 pixels (counting from the top of the image, from left to right) are not masked, the following 54 are masked,

[2022-04-07 22:47] makseq commented on #95
@TeodorChiaburu I don't remember the exact implementation, but you will find this info here: https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/brush.py

Also this would be helpful:
https://labelstud.io/guide/predictions.html#Import-brush-segmentation-pre-annotations-in-RLE-format

[2022-04-14 03:25] yangboz opened #97 "YOLO format disabled"
when exporting  in labelStudio , the popup format option with  YOLO format is disabled.

![Screenshot 2022-04-14 at 11 25 16 AM](https://user-images.githubusercontent.com/481954/163307648-5561481b-0d88-4cd4-ac29-39354df05f8c.png)

still WIP?

[2022-04-14 17:09] HipsterCat opened #98 "CoreML object detection export format"
It would be useful to have a format suitable for CreateML training of CoreML models. It looks pretty easy without bunch of unnecessary fields:
<img width="658" alt="Screen Shot 2022-04-14 at 8 09 13 PM" src="https://user-images.githubusercontent.com/2307172/163439119-1e6c89a7-e7a8-4e81-9a45-8c13aebcea6c.png">
.

[2022-04-14 20:44] makseq commented on #97
@yangboz It works only for RectangleLabels / Rectangle tags.

[2022-04-14 20:44] #97 closed

[2022-04-14 20:47] makseq commented on #98
@HipsterCat You can make the contribution to label-studio-converter and add this format there :-)

[2022-04-14 20:50] HipsterCat commented on #98
@makseq Unfortunately, I'm just a data labeling specialist atm, Create ML is a no-code tool to create neural networks for iOS engineers. Just had to pay for a task to convert Label Studio's JSON-MIN files to Core ML format.

[2022-04-15 03:57] yangboz commented on #97
but  how ? convert from JSON exported from labelstudio?

[2022-04-15 19:15] makseq commented on #97
This option will be available automatically if you use RectangleLabels in your labeling config.

[2022-04-16 06:04] yangboz commented on #97
yes, after using RectangleLabels , then try export  button ,take forever time, any idea?

thanks.

[2022-04-18 22:26] makseq commented on #97
how many tasks do you have in your project?

[2022-04-20 00:58] yangboz commented on #97
more over 100 tasks , the more times of  exporting will taken.

[2022-04-27 23:22] makseq commented on #97
Sorry for the long answer. Do you still have this issue with the long export? Could you check the LS media directory
![image](https://user-images.githubusercontent.com/501780/165646929-e545cc58-829f-42d8-b580-df4f8e6c1212.png)

It should store the export file in `export` subfolder.

[2022-05-01 21:14] ferenc-hechler opened #101 "YOLO Export: rotated rectangle annotationes are deformed for non quadratic images"
A detailed description with screenshots can be found in the label-studio issue https://github.com/heartexlabs/label-studio/issues/2293

For example the following label-studio annotation

[code]

Will be exported as
`
<EVS> 0.1 0.35 0.2 0.3
`
But correct would be
`
<EVS> 0.15 0.5 0.1 0.6
`

The problem is the non-quadratic aspect ratio of the original-image. The rotation is done without first corre

[2022-05-01 21:30] ferenc-hechler commented on #19
Same problem with the YOLO format. There is no reference to the image id or filename in the export. Would it be possible to use the unqiue task id as part of the image name?

[2022-05-05 15:06] ferenc-hechler commented on #101
Create Pull-Request #103

[2022-05-07 08:51] youyuge34 opened #104 "How to fix the order of id and name in YOLO format"
When export the same tags of object detection in YOLO format, the tag order of two datasets are different:
[code]

[code]

What is the logic of the name order and how to fix the order between two Projects？

[2022-05-07 08:52] youyuge34 commented on #104
Why they are not in alphabetical order？

[2022-05-09 11:08] youyuge34 commented on #104
@KonstantinKorotaev
[code]

[2022-05-09 20:27] ferenc-hechler opened #105 "YOLO Export: download of imported and uploaded images does not work together with LABEL_STUDIO_HOST"
We have installed Label-Studio in a Kubernetes cluster and the LABEL_STUDIO_HOST environment varibale is used to configure the path based routing "https://[host]/[path-prefix]", e.g. "https://myhost.com/ls-path".

This means, in the Annotation-JSON-Export the image url is "https://myhost.com/ls-path/data/local-files/?d=testimgs/image1.png" for synchronized images from the local filesystem:

[code]

[2022-05-13 17:16] KonstantinKorotaev commented on #104
@youyuge34
Could you please also share your version of label-studio-converter?

[2022-05-16 14:52] jvence opened #106 "Image extension not included in exported Pascal VOC XML files"
Describe the bug
When exporting PascalVOC, XML does not include file extension in brick-front

To Reproduce
Try exporting to PascalVoC and look at all generated XMLs

Expected behavior
File extension should be included

OS: Mac OS
Label Studio Version: 1.4.1post1

[2022-05-16 23:40] makseq commented on #106
Fixed in master branch.

[2022-05-16 23:40] #106 closed

[2022-05-24 11:15] KonstantinKorotaev commented on #104
`label-studio-converter 0.0.36`

Could you please update it to 0.0.40 and check one more time?

[2022-06-14 12:29] manucarbonell opened #108 "Yolo to label-studio (not vice versa)"
Hi, is there a feature to convert from yolo output to label-studio pre-annotations?

Cheers

[2022-06-15 00:35] makseq commented on #108
@manucarbonell hi, please check this merged PR:
https://github.com/heartexlabs/label-studio-converter/pull/46

[2022-06-23 15:19] joshuaeckroth opened #111 "Support SQUADv2 export format for QA annotations"
Format description: https://huggingface.co/datasets/squad_v2

[2022-06-23 22:38] makseq commented on #111
Thanks for your feature request, we will discuss this with the team.

[2022-06-26 17:39] joshuaeckroth commented on #111
Thanks. It strikes me SQuADv1 format is best because label-studio doesn't have a native way to say "no answer".

https://huggingface.co/datasets/squad

[2022-06-27 22:39] makseq commented on #111
In LS you can keep `annotation.result` empty, doesn't it work for you?

[2022-06-29 09:07] strickvl opened #112 "Missing documents"
The README.md makes reference to a CONTRIBUTING.md document as well as a code of conduct, but neither of those exist in this repository.

[2022-06-30 00:02] #112 closed

[2022-07-05 16:53] ajsirsik opened #114 "Reg: Exporting annotations in CoNLL 2003 format for NER model training"
Hey there,
Many thanks for implementation.
I annotated images for layoutparser model training. May I know, how could I export annotations in CoNLL 2003 format for NER model training. I do not see this option in drop down box in label studio dashboard

Many thanks

Best regards

[2022-07-09 22:52] pinecho commented on #95
@makseq
Hello, I have the same question.
the `test_rle_encoding` in `tests/test_brush.py` showed that the rle encoding in Label Studio did not reduce the occupied space(the rle_test is longer and larger than test_arr, isn't it?).
Could you please give some detail about the rle format in Label Studio?
Thank you.
[code]

[2022-07-11 16:33] ajsirsik commented on #114
Thanks for replying. May I know, way to upload textual data to annotation tool. or is there any way to perform extraction for uploaded images

[2022-07-11 17:11] makseq commented on #114
Just import csv or txt files.

you need to use another tools to do it automatically.

[2022-07-11 17:32] makseq commented on #95
As I remember pixels will be encoded as 4 color-values, so this example is not indicative. Better to use something like `[1,1,1,1,  2,2,2,2,  5,5,5,5,  7,7,7,7]`

[2022-07-23 01:12] KaiMJ opened #118 "Semantic Segmentation Only Exports One Image"
After labeling multiple classes, there is no way to export the different masking of each classes.

More specifically, exporting as PNG or Numpy array only exports as one image.

Why can't label-studio allow exporting masking for multiple classes?

[2022-07-23 01:14] #118 closed

[2022-07-23 01:14] KaiMJ commented on #118
I labeled the wrong way.

[2022-08-25 04:09] stellarway opened #126 "TSV export error: exported to CSV"
Hi. When exporting NER task files in the TSV format,
the file name  comes out 'project-example**.csv**' (It should be 'project-example**.tsv**')
The output 'project-example.csv' acts like tsv files, but it has an incorrect name.
Thanks.

[2022-08-27 00:02] makseq commented on #126
Hi! Thank you for your findings. Could you please create a PR with this fix?

[2022-09-10 22:44] beyse commented on #93
I observe exactly the same problem on my instance of Label Studio.
@KonstantinKorotaev if you tell me how to provide the label config and the logs from Label Studio I will do so.

Cheers

[2022-09-12 11:04] KonstantinKorotaev commented on #93
Hi @beyse
Do you use docker or local environment?

[2022-09-12 16:39] beyse commented on #93
I use docker

[2022-09-13 14:13] KonstantinKorotaev commented on #93
@beyse
`docker logs {CONTAINER_NAME}`

[2022-09-13 21:12] beyse commented on #93
I tried to reproduce the issue but it worked on the first attempt.
In case I encounter the problem again I will paste the log obtained with `docker logs {CONTAINER_NAME}` here.

[2022-10-02 05:56] mamurad opened #128 "How can I save the selested region (cropped image)"

[2022-10-04 00:53] makseq commented on #128
@mamurad
1 do you mean how to export only selected regions? Or how to export a cropped area on the image?
2 save where? to export JSON? or just to submit the cropped annotation to the DB?

[2022-10-12 09:30] glenbhermon commented on #39
You could give an option selector to include rotation within the VOC format, within the export options. **It will be really helpful!** _Thanks for all the work thus far!_

[2022-10-13 06:38] rgaiacs opened #131 "Bounding boxes with rotation are not properly exported"
I created a single rotated bounding box annotation (image from https://commons.wikimedia.org/wiki/File:Radiography_of_a_pregnant_cat.jpg) with Label Studio:

![Screenshot 2022-10-13 at 13-04-50 Label Studio](https://user-images.githubusercontent.com/1506457/195519296-491c00b2-b28f-4618-a994-7b392dd890f2.png)

and exported it COCO. When I try to visualise the bounding box, it differ from the one in

[2022-10-13 08:51] rgaiacs opened #132 "YOLO exporter overwrite annotation of image with the same filename"
Consider a project that has the following tasks:

[code]

the content of the `zip` file exported in the YOLO format is

[code]

It only has one annotation (`0000.txt`) but it should have two: (`0000_7436.txt` and `0000_6dd1.txt`).

## JSON

[code]

## COCO

[code]

[2022-10-14 08:29] jesseincn opened #133 "How to get completions?"
I use export, just get annotations json. so, help me, pls

[2022-10-18 00:45] makseq commented on #131
Could you please check this PR: https://github.com/heartexlabs/label-studio-converter/pull/134 ?

[2022-10-18 01:01] makseq commented on #133
Sorry, your question is not clear. What is your problem?

[2022-10-18 01:02] #133 closed

[2022-10-18 08:13] rgaiacs commented on #131
@makseq Thanks for the reply and the pull request. I tested the pull request and it didn't work.

![rotation](https://user-images.githubusercontent.com/1506457/196373796-0bf79ca4-65d9-444a-ae8f-69795ff1113d.png)

The above figure illustrates the user case. User creates the red box and rotate it into the blue box. When exporting to COCO and YOLO, we want to export the green box.

[2022-10-20 01:40] makseq commented on #131
@rgaiacs thank you for your great investigation and finalizing my PR!

[2022-10-21 19:01] KonstantinKorotaev commented on #132
Hi @rgaiacs
Could you please update your instance to label-studio-converter 0.0.45rc2 and try one more time?

[2022-10-24 07:06] cjambo opened #139 "COCO Export: the 'file_name' of image in label differs from actual file"
the actual image is: "images\\90fbb0c7-a.jpg", but in `result.json` the 'file_name' of image is "images\\1/90fbb0c7-a.jpg". It seems contain the project id.
[code]

after change the code
https://github.com/heartexlabs/label-studio-converter/blob/87180cd3bbd9663bd19f9feeb65ec6d3c4aadedb/label_studio_converter/utils.py#L129
to
[code]
it becomes normal

[code]

[2022-10-25 06:05] rgaiacs commented on #132
Thanks for the fix.

[2022-10-25 06:05] #132 closed

[2022-10-27 11:59] KonstantinKorotaev commented on #139
Applied your fix, please update your label-studio-converter to 0.0.45.rc5

[2022-10-31 14:40] saskra opened #148 "Convert polygon masks to COCO format"
I want to convert the JSON files with my polygon annotations from LabelStudio to COCO compatible files and I followed this example to do so: https://github.com/heartexlabs/label-studio-converter#coco

However, the result looks like this:
[code]

The most important thing is missing there, the points of the label. These are not the contents of the example file but only those of the configuration fil

[2022-10-31 15:13] makseq commented on #148
@saskra what if your labeling config? If there is a BrushLabels, it's not yet supported in COCO.

[2022-10-31 16:18] saskra commented on #148
I have both polygons and brush. However, this is about the general supplied example of LabelStudio and not my data, and already here I do not understand how it works because I do not find the mask in the output.

[2022-11-01 02:07] makseq commented on #148
Masks won't be exported in COCO, because they are not supported in the converter. Polygons should be exported.

[2022-11-05 19:47] TByte007 opened #149 "Importing from YOLO ("label" to "labels")"
When importing  from YOLO dataset the generated JSON have `"from_name": "label"` which leaves the bounding boxes without labels. If I replace all the ` "from_name": "label"` to `"from_name": "labels"` and it works. I have no idea why I just found out what is the difference from "updated" XML from inside Label Studio and the generated one by label-studio-converter.

PS: I just saw that it generates

[2022-11-08 00:40] makseq commented on #149
Hm.. previously we had this PR from our contributor - https://github.com/heartexlabs/label-studio-converter/pull/130, so.. looks like  it's wrong :(

[2022-11-08 01:32] makseq commented on #149
Thanks for pointing me to this problem, hope this commit (it's in the master branch now) will help:
https://github.com/heartexlabs/label-studio-converter/commit/d20143762823a878e87128392d48463936bde50f

[2022-11-08 01:32] #149 closed

[2022-11-08 01:54] nicky1038 opened #150 "url-encode file names in order to create valid file URLs?"
First of all, I would like to thank everyone involved in creation of this utility and such a cool instrument as label-studio at all :)

Everything works great. Besides this minor issue.

I tried to  `label-studio-converter import yolo` a dataset with an image which name contained a `+` sign. It seems like to create file URLs the utility just leaves file names as-is and just prepends `image-root-ur

[2022-11-10 02:14] makseq commented on #150
@nicky1038 Great thanks!
Could you contribute it and make a PR?
It's here:
https://github.com/heartexlabs/label-studio-converter/blob/master/label_studio_converter/imports/yolo.py#L60

[2022-11-16 13:05] omkarsingh1008 opened #158 "how to convert json format to layoutlm model format"

[2022-11-24 01:32] makseq commented on #158
As I know LayoutLM doesn't have its own format for input annotated data, you should prepare it manually in your codes. Please correct me if I am wrong.
However, I heard about FUNDS - https://github.com/heartexlabs/label-studio/issues/2634#issuecomment-1251648670 - it might be related to your request.

[2022-11-29 04:28] alexmadey-oc opened #165 "To/From COCO conversion ignores images with no annotations"
I have noticed that converting COCO to LabelStudio and LabelStudio to COCO both ignore images without annotations. For example, if I have a COCO JSON and some of the images don't have corresponding annotations, the converter output will not have LabelStudio tasks for those images. The same is true if LabelStudio has some tasks without annotation and I try to export to COCO. The images from empty t

[2022-11-29 11:07] sumitctm opened #166 "Export issue Pascal voc xml"
Hello,

I'm facing some issue with Export format type Pascal VOC Xml as the same is disable in the export window. Please let me know how to enable this option in Label studio.

![image](https://user-images.githubusercontent.com/73328631/204513552-852182cc-ef1d-4746-8153-57126d9a7b1c.png)